:root{
    font-family: 'Inter';
}

html{
    min-height: 100%;
}
body{
    min-height: 100%;
}

/* top navigation */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    width: 90%;
    border-radius: 15px;
    margin-bottom: 10px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #8C8989;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.admin-nav-active) {
    background-color: rgb(255, 190, 90);
    color: white;
}

.admin-nav-active {
    background-color: #e6a32e;
    color: white;
    /* background-color: #FFA200; */
}

/* iframe */

.admin-iframe-div{
    position: fixed;
    min-height: 100%;
    width: 89%;
    overflow-y: scroll;
}
.admin-iframe{
    padding:0;
    position: fixed;
    width: 89%;
    height: 90%;
}

/* stock monitoring */
table{
    border-radius: 10px;
    border-collapse: collapse;
    
    border-style: hidden;
    border: 1px solid white;
}

.stock-actions{
    background-color: #FFA200;
    color: white;
    border-radius: 10px;
    border: none;
}

th{
    background-color: #FFA200;
    color: white;
}

tr{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}