:root {
    font-family: 'Inter';
}

body {
    background-color: #EFEFEF;
}

#popup {
    display: none;
}

#popup-bg {
    position: fixed;
    top: 0;
    background: black;
    width: 200%;
    height: 100%;
    opacity: .5;
}

#popup-fg {
    width: 34%;
    height: 10%;
    background: #FFFFFF;
    border: 1px solid #FFA200;
    z-index: 1;
    position: absolute;
    right: 50%;
    top: 54%;
    border-radius: 17px;
    text-align: center;
}

#popup label {
    display: block;
    width: 100%;
}

#popup label {
    margin-top: 1em;
}

#popup .actions {
    padding: 10px;
}

#cash {
    font-size: 15px;
    font-family: 'Inter';
    display: flex;
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    padding: 6px;
    border-radius: 17px;
    text-align: center;
}

#cash:hover {
    background-color: #FFA200;
    border-bottom: 1px solid #FFA200;
    color: #fff;
    cursor: pointer;
    padding-right: 120px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#gcash {
    width: 30px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Inter';
    display: none;
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    border-radius: 17px;
}

#gcash:hover {
    background-color: #FFA200;
    border-bottom: 1px solid #FFA200;
    color: #fff;
    cursor: pointer;
    width: 108px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.cash {
    /* position: sticky; */
    /* left: 38.6%; */
    /* top: 37%; */
    font-weight: bold;
    top: 45%;
    left: 2%;
    width: 20%;
    height: 30px;
    border: none;
    border-radius: 6px;
    background-color: #FFAE42;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

#icon-popup.gcash {
    /* position: sticky; */
    /* left: 38.6%; */
    /* top: 37%; */
    font-weight: bold;
    top: 49%;
    left: 2%;
    width: 20%;
    height: 30px;
    border: none;
    border-radius: 6px;
    background-color: #FFAE42;
    font-size: 15px;
    cursor: pointer;
    outline: none;
}

.toPay {
    /* position: sticky; */
    display: none;
    right: 0%;
}

.cash:hover {
    border: 1px solid;
    transition: .2s;
}

#icon-popup.gcash:hover {
    border: 1px solid;
    transition: .2s;
}

.actions p {
    text-align: left;
    font-size: 14px;
    margin-left: 5px;
}

.uploadFile:hover {
    background-color: #FFAE42;
    height: 49px;
}

.uploadFile [type="file"] {
    width: 190px;
    font-family: 'Inter';
    border: 1px solid #FFAE42;
    margin-top: -50px;
    padding: 0px;
    margin-left: 5px;
    background-color: white;
    border-radius: 0px;
}

.checkoutForm {
    background-color: white;
    height: 95%;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    position: absolute;
    left: 10%;
    padding: 15px;
    border-radius: 10px;
    align-items: flex-start;
    overflow-y: scroll;
}

.checkoutForm ::-webkit-scrollbar {
    display: collapse;
}

.dateTime{
    display: flex; 
    flex-wrap: wrap;
    position: absolute;
    z-index: 1;
    /* justify-content: space-between;  */
    height:5%; 
    width:100%
}

.checkoutForm .date {
    /* min-height: 100%; */
    /* min-width: 40%;
    width: 250px; */
    background-color: #EFEFEF;
    border: none;
    border-radius: 5px;
    /* margin-right: 10px; */
    margin-bottom: 10px;
}

.checkoutForm .time {
    /* min-height: 100%; */
    /* min-width: 40%;
    width: 250px; */
    background-color: #EFEFEF;
    border: none;
    border-radius: 5px;
    /* margin-right: 300px; */
    margin-bottom: 10px;
}

.checkoutForm input {
    height: 8%;
    min-width: 40%;
    width: 250px;
    /* width: 100%; */
    background-color: #EFEFEF;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#note{
    width: 100%;
    min-width: 100%;
}

.checkoutForm input.address {
    /* height: 100%; */
    /* min-width: 40%; */
    /* width: 48%; */
    background-color: #EFEFEF;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.checkoutForm .emailInput {
    /* height: 41px;
    width: 50px; */
    background-color: #EFEFEF;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.noteAndPayment{
    margin-top: 13%;
}

h2 {
    color: #FFA200;
}

@media only screen and (max-width: 900px) {
    .checkoutForm {
        background-color: white;
        height: 25%;
        width: 100%;
        /* display: block; */
        /* flex-direction: column; */
        position: absolute;
        left: 0%;
        padding: 5%;
        border-radius: 10px;
        margin: 0;
    }
    .checkoutForm input {
        width: 120%;
        height: 100%;
        background-color: #EFEFEF;
        border: none;
        border-radius: 7px;
        margin-left: 1%;
        margin-top: 1%;
        margin-right: 1%;
        margin-bottom: 2%;
    }
    .checkoutForm .date {
        max-height: 25%;
        width: 100%;
        background-color: #EFEFEF;
        border: none;
        border-radius: 5px;
        margin-right: 5%;
        margin-bottom: 5%;
    }
    .checkoutForm .time {
        max-height: 25%;
        width: 100%;
        background-color: #EFEFEF;
        border: none;
        border-radius: 5px;
        margin-right: 5%;
        margin-bottom: 5%;
    }
    .checkoutForm .emailInput {
        /* height: 100%; */
        /* width: 50%; */
        background-color: #EFEFEF;
        border: none;
        border-radius: 5px;
        margin-bottom: 2%;
    }
    .uploadFile [type="file"] {
        width: 100%;
        font-family: 'Inter';
        margin-top: -50px;
        padding: 0;
        margin-left: 5px;
        border: none;
        background: none;
    }
    #popup-fg {
        width: 37%;
        height: 10%;
        background: #FFFFFF;
        border: 1px solid #FFA200;
        z-index: 1;
        position: absolute;
        right: 40%;
        top: 64%;
        border-radius: 17px;
        text-align: center;
    }
}