* {
    overflow: hidden;
}

body {
    width: auto;
    font-family: 'Inter';
    font-style: normal;
    background: rgb(255, 190, 90);
    height: 100%;
}

#company-logo {
    display: flex;
    height: 70%;
    max-width: 50%;
    overflow-y: scroll;
    position: absolute;
    left: 6%;
    margin-top: 30px;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
}

#company-logo::-webkit-scrollbar {
    display: none;
}

.logo {
    width: 130px;
    height: 130px;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.center {
    align-items: center;
    justify-content: center;
    position: absolute;
    /* top: 50%; */
    left: 62.5%;
    bottom: -13px;
    /* transform: translate(70%, -50%); */
    background: white;
    width: 37.5%;
    height: 100%;
    border-top-left-radius: 26px;
    border-bottom-left-radius: 26px;
    /* padding: 600px; */
}

.center h1 {
    text-align: center;
    padding: 0;
    margin-top: 5px;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
    margin-top: 40px;
}

.center2 {
    align-items: center;
    justify-content: center;
    position: absolute;
    /* top: 50%; */
    left: 62.5%;
    bottom: -13px;
    /* transform: translate(70%, -50%); */
    background: white;
    width: 37.5%;
    height: 100%;
    border-top-left-radius: 26px;
    border-bottom-left-radius: 26px;
    /* padding: 600px; */
}

.center2 h1 {
    text-align: center;
    padding: 0;
    margin-top: 5px;
}

.center2 form {
    padding: 0 40px;
    box-sizing: border-box;
    margin-top: 40px;
}

form .text_field {
    border-bottom: 2px solid #8C8989;
    position: relative;
    margin: 25px 0;
    margin-top: 12.5px;
}

.text_field input {
    width: 100%;
    padding: 0 5px;
    height: 20px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.text_field label {
    position: absolute;
    top: 4%;
    left: 25px;
    color: #8C8989;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
    font-family: 'Inter';
    font-style: normal;
}

.text_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 3px;
    background: #FFAE42;
    transition: .5s;
}

.text_field input:focus~label,
.text_field input:valid~label {
    top: -5px;
    color: #FFAE42;
}

.text_field input:focus~span::before,
.text_field input:valid~span::before {
    width: 100%;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #8C8989;
    cursor: pointer;
    text-align: right;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    font-weight: bold;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 26px;
    background-color: #FFAE42;
    font-size: 22px;
    cursor: pointer;
    outline: none;
    margin: 7.5px 0;
}

input[type="submit"]:hover {
    border: 1px solid;
    transition: .2s;
}

.fa-circle-user {
    color: #8C8989;
}

.fa-lock {
    color: #8C8989;
}

.button {
    font-weight: bold;
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 26px;
    background-color: #FFAE42;
    font-size: 12px;
    cursor: pointer;
    outline: none;
}

.button:hover {
    border: 1px solid;
    transition: .2s;
}

.regForm {
    left: 50%;
    width: 50%;
    height: 103%;
    padding-left: 5%;
}

#signUp {
    font-size: 45px;
    font-weight: bold;
    color: #FFAE42;
}

.regInput {
    border: none;
    background-color: #EFEFEF;
    width: 250px;
    height: 25px;
    margin-bottom: 5px;
}

#regSubmit {
    min-width: 50%;
    max-width: 75%;
    border: none;
}

#regSubmit:hover {
    border: 1px solid;
    transition: .2s;
}

.logo-container {
    position: absolute;
    left: 12.5%;
    bottom: 25%;
    display: flex;
    justify-content: center;
    width: 25%;
    height: 50%;
    /* border: black solid 1px; */
}

.register-logo {
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.go-back {
    color: #FFAE42;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    padding-left: 15px;
    position: relative;
    top: 0%;
    text-decoration: none;
}

.go-back::before,
.go-back::after {
    content: "";
    display: block;
    left: 0px;
    position: absolute;
    top: 50%;
    transition: left 0.1s;
}

.go-back::before {
    border-color: #FFAE42;
    /* background: #FFAE42; */
    border-style: solid;
    border-width: 0 0 2px 2px;
    height: 6px;
    margin-top: -3px;
    width: 6px;
    transform: rotate( 45deg);
    -webkit-transform: rotate( 45deg);
}

.go-back::after {
    color: #FFAE42;
    background: #FFAE42;
    height: 2px;
    width: 11px;
}

.go-back:hover::before,
.go-back:hover::after {
    left: -3px;
    /* background: #000000; */
    border-color: #FFAE42;
    color: #FFAE42;
}

@media only screen and (max-width: 600px) {
    html {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .regForm {
        display: flex;
        flex-wrap: wrap;
        left: 0%;
        top: 27%;
        width: 95%;
        height: fit-content;
        border-top-right-radius: 26px;
        border-top-left-radius: 26px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        padding-left: 5%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
    #regSubmit {
        min-width: 80%;
        max-width: 90%;
        margin-top: -10px;
    }
    .go-back {
        padding: 30px;
        margin: 0;
    }
    #signUp {
        font-size: 25px;
        font-weight: bold;
        color: #FFAE42;
    }
    .logo-container {
        position: absolute;
        left: 25.5%;
        display: flex;
        z-index: 1;
        width: 50%;
        height: 30%;
        border-radius: 50%;
        top: 70px;
    }
    .center {
        align-items: center;
        justify-content: center;
        position: absolute;
        /* top: 50%; */
        bottom: 0%;
        /* transform: translate(70%, -50%); */
        background: white;
        width: 95%;
        height: 100%;
        border-top-left-radius: 26px;
        border-top-right-radius: 26px;
        /* padding: 600px; */
    }
    .center2 {
        align-items: center;
        justify-content: center;
        position: absolute;
        /* top: 50%; */
        /* transform: translate(70%, -50%); */
        background: white;
        left: -0%;
        width: 100%;
        height: 100%;
        border-top-left-radius: 26px;
        border-top-right-radius: 26px;
        border-bottom-left-radius: 0px;
        /* padding: 600px; */
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -1200px;
    }
    .center2 form {
        padding: 0 40px;
        box-sizing: border-box;
        margin-top: 230px;
    }
    #company-logo {
        display: flex;
        height: 90%;
        max-width: 50%;
        position: absolute;
        left: 25%;
        margin-top: 30px;
        /* align-items: center; */
        justify-content: center;
        flex-wrap: wrap;
    }
    .logo {
        position: absolute;
        left: 25.5%;
        display: flex;
        z-index: 1;
        width: 50%;
        height: 30%;
        border-radius: 50%;
        top: 10px;
    }
    #loginButton {
        margin-top: -190px;
        width: 50%;
        margin-left: 100px;
    }
    #facebook {
        margin-top: -260px;
        width: 50%;
        margin-left: -260px;
    }
    #guest {
        margin-top: -170px;
        width: 50%;
        margin-left: 10px;
    }
    #or {
        margin-top: -380px;
        width: 50%;
        margin-left: 60px;
    }
    button.button {
        margin-bottom: 50px;
    }
}